.content-segment{
    display:flex;
    padding:4rem;
    font-size: 1.25rem;
    line-height: 1.6;
}
div.content-segment:nth-of-type(odd) {
    background:#41807c;
    color:#efefef !important;
    flex-direction:row-reverse;
}
div.content-segment:nth-of-type(odd) .explain{
    margin-left:20px;
}
.content-segment .explain{
    flex:1;
    align-content: center;
}
.content-segment .viz{
    flex:2;
}
