
div.content-segment:nth-of-type(odd) {
    background:#41807c;
    color:#efefef !important;
    flex-direction:row-reverse;
}
div.content-segment:nth-of-type(odd) .explain{
    margin-left:20px;
}
div.content-segment:nth-of-type(even) .explain{
    margin-right:20px;
}
.content-segment .explain{
    flex:1;
    align-content: center;
}
.content-segment .viz{
    flex:2;
}
.parallax-cooking-header {
    /* The image used */
    background-image: url('../images/cooking.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text{
    height:20rem;
    color:white;
    align-content:center;
    font-size:3rem;
    margin-bottom:0px;
    background:rgba(0,0,0,0.5);
}
.parallax-renewable-header{
    background-image: url('../images/renewable\ energy\ header.png');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-improve-energy-header{
    background-image: url('../images/energy\ efficiency.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}